{% extends "layout.html" %}

{% block body %}
  <h2>{{ 'ユーザ編集' if user else 'ユーザ新規登録'}}</h2>
  <form action="" method="post">
    <dl>
      <dt>名前
      <dd><input type=text size=20 name=name value="{{ user.name if user }}">
      <dt>メールアドレス
      <dd><input type=text size=20 name=email value="{{ user.email if user }}">
      <dt>パスワード
      <dd><input type=password size=20 name=password value="">
      <dd><input type=submit value={{ '保存' if user else '新規登録' }}>
    </dl>
  </form>
  {% if user %}
    <form action={{ url_for('users.delete', user_id=user.id) }} method="post">
      <input type="hidden" name="_method" value="delete">
      <input type=submit value="削除" onclick="return confirm('本当に削除しますか？')">
    </form>
  {% endif %}
{% endblock %}
