{% extends "layout.html" %}

{% block body %}
  <h2>{{ 'ユーザ編集' if user else 'ユーザ新規登録' }}</h2>

  <form action="" method="post">

    <div class="form_horizontal">
      <label for="name">名前</label>
      <input type="text" size="20" name="name" value="{{ user.name if user }}">
    </div>

    <div class="form_horizontal">
      <label for="password">パスワード</label>
      <input type=password size=20 name=password value="">
    </div>

    <div class="form_horizontal">
      <input type="submit" value={{ '保存' if user else '新規登録' }} class="button">
    </div>
  </form>

  {% if user %}
    <form action={{ url_for('users.delete', user_id=user.id) }} method="post">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="削除" onclick="return confirm('本当に削除しますか？')" class="button danger">
    </form>
  {% endif %}
{% endblock %}
