<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>対話プラットフォーム</title>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="page">
  <h1>対話プラットフォーム</h1>

  <nav class="global_nav">
    <ol>
      {% if session.user_id %}
        {% if g.user.is_admin() %}
          <li><a href="{{ url_for('scenarios.index') }}">シナリオ一覧</a></li>
          <li><a href="{{ url_for('rooms.index') }}">ルーム一覧</a></li>
          <li><a href="{{ url_for('users.index') }}">ユーザ一覧</a></li>
        {% else %}
          <li><a href="{{ url_for('rooms.index') }}">ルーム一覧</a></li>
        {% endif %}

        <li><a href="{{ url_for('auth.logout') }}">ログアウト</a></li>
      {% else %}
        <li><a href="{{ url_for('auth.login') }}">ログイン</a></li>
        <li><a href="{{ url_for('users.create') }}">ユーザ新規登録</a></li>
      {% endif %}
    </ol>
  </nav>

  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}

  {% block body %}{% endblock %}
</div>

</body>
</html>
