<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>対話プラットフォーム</title>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="page">
  <nav>
    <ol class="global_nav css-reset-list">
      {% if session.user_id %}
        {% if g.user.is_admin() %}
          <li><a href="{{ url_for('scenarios.index') }}" class="css-reset-a">シナリオ一覧</a></li>
          <li><a href="{{ url_for('rooms.index') }}" class="css-reset-a">ルーム一覧</a></li>
          <li><a href="{{ url_for('users.index') }}" class="css-reset-a">ユーザ一覧</a></li>
        {% else %}
          <li><a href="{{ url_for('rooms.index') }}" class="css-reset-a">ルーム一覧</a></li>
        {% endif %}

        <li><a href="{{ url_for('auth.logout') }}" class="css-reset-a">{{ g.user.name }}からログアウト</a></li>
      {% else %}
        <li><a href="{{ url_for('auth.login') }}" class="css-reset-a">ログイン</a></li>
        <li><a href="{{ url_for('users.create') }}" class="css-reset-a">ユーザ新規登録</a></li>
      {% endif %}
    </ol>
  </nav>

  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}

  <main>
  {% block body %}{% endblock %}
  </main>
</div>

</body>
</html>
