{% extends "layout.html" %}

{% block body %}
  <h2>{{ 'ルーム編集' if room else 'ルーム新規登録' }}</h2>

  <form action="" method="post">

    <div class="form_horizontal">
      <label for="status">ステータス</label>
      <select id="status" name="status">
        <option value="1" {{ 'selected' if room and room.status.value == 1 }}>使用不可</option>
        <option value="2" {{ 'selected' if room and room.status.value == 2 }}>使用可</option>
        <option value="3" {{ 'selected' if room and room.status.value == 3 }}>使用中</option>
        <option value="4" {{ 'selected' if room and room.status.value == 4 }}>使用済み</option>
      </select>
    </div>

    <div class="form_horizontal">
      <label for="scenarios">シナリオ</label>
      <select id="scenarios" name="scenarios" multiple>
        {% for scenario in scenarios %}
          <option value={{ scenario.id }} {{ 'selected' if scenario in room.scenarios }}>{{ scenario.title }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="form_horizontal">
      <input type="submit" value={{ '保存' if room else '新規登録' }} class="button">
    </div>
  </form>

  {% if room %}
    <form action={{ url_for('rooms.delete', hash_id=room.hash_id) }} method="post">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="削除" onclick="return confirm('本当に削除しますか？')" class="button danger">
    </form>
  {% endif %}
{% endblock %}
