{% extends "layout.html" %}
{% block body %}
  <ul class="rooms">
  {% for room in rooms %}
    <li>
      <h2><a href={{ url_for('rooms.show', hash_id=room.hash_id) }}>{{ room.hash_id }}</a></h2>
      {{ room.status }}
      {% if g.user.is_admin() %}
        <a href="{{ url_for('rooms.edit', hash_id=room.hash_id) }}">編集</a>
      {% endif %}
    </li>
  {% else %}
    <li><em>ルームがありません。</em>
  {% endfor %}
  </ul>

  {% if g.user.is_admin() %}
    <a href="{{ url_for('rooms.create') }}">ルーム新規登録</a>
  {% endif %}
{% endblock %}
