{% extends "layout.html" %}

{% block body %}
  <header class="page_header css-flex css-spacebetween">
    <h1>ルーム一覧</h1>

    {% if g.user.is_admin() %}
      <a class="button" href="{{ url_for('rooms.create') }}">ルーム新規登録</a>
    {% endif %}
  </header>

  <ol class="card_showcase css-reset-list">
  {% for room in rooms %}
      <li class="card room {{ room.status.to_text() }}">
      {% if g.user.is_admin() %}
        <a href={{ url_for('rooms.show', hash_id=room.hash_id) }} class="css-reset-a">
      {% else %}
      <a href={{ url_for('rooms.show', hash_id=room.hash_id) }} class="css-reset-a" onclick="return confirm('●注意●\n{{ room.name }} に入室しようとしています。\n一度入室すると他のルームには入室できなくなります。このルームに入室しますか？')">
      {% endif %}

        <header class="header">
          <h2 class="title">{{ room.name }}</h2>
          <div class="css-flex css-spacebetween">
            <small>定員 {{ room.users|length }}/{{ room.capacity() }}人</small>
            <small>{{ room.status.to_text() }}</small>
          </div>
        </header>
        <div class="body">
          <ul>
            {% for user in room.users %}
            <li>{{ user.name }}</li>
            {% endfor %}
          </ul>
        </div>

        {% if g.user.is_admin() %}
          <form action="{{ url_for('rooms.edit', hash_id=room.hash_id) }}">
            <input type="submit" value="編集" class="button">
          </form>
        {% endif %}
      </a>
    </li>
  {% else %}
    <li>ルームがありません。</li>
  {% endfor %}
  </ol>
{% endblock %}
