{% extends "layout_simple.html" %}

{% block body %}
  <div class="flex">
    <div class="scenario_area">
      <h3>シナリオ</h3>
      {% if room.scenarios %}
        {% for scenario in room.scenarios %}
          <pre>{{ scenario.text }}</pre>
        {% endfor %}
      {% endif %}
    </div>

    <div class="message_area">
      <h3>メッセージ</h3>
      {% if room.messages %}
        <ol>
          {% for message in room.messages %}
            <li>
              <div class="message">
                {{ message.user.name }}: {{ message.text }}
              </div>
            </li>
          {% endfor %}
        </ol>
      {% endif %}

      <form action="" method="post">
        <div class="form_horizontal">
          <textarea type="text" id="text"/></textarea>
        </div>

        <div class="form_horizontal">
          <input type=submit value={{ '送信' }} class="button">
        </div>
      </form>
    </div>
  </div>
{% endblock %}
