{% extends "layout.html" %}

{% block body %}
  <div class="css-flex">
    <div class="scenario_area">
      <div>
        <h3>シナリオ</h3>
        <small>続きが見えない場合はスクロールしてください</small>
      </div>

      <div class="frame">
        {% for scenario in scenarios %}
          <pre>{{ scenario.text|safe }}</pre>
        {% endfor %}
      </div>
    </div>

    <div class="message_area">
      <div>
        <h3>メッセージ</h3>
        <small>続きが見えない場合はスクロールしてください</small>
      </div>

      <div class="frame" id="scrollArea">
        <ol id="messageList" class="css-reset-list">
          {% for message in room.messages %}
          <li>
            <div class="message">
              {{ message.user.name }}: {{ message.text }}
            </div>
          </li>
          {% endfor %}
        </ol>
      </div>

      <div class="message_input_area">
        <form action="" method="" id="form" class="css-flex css-column">
          <textarea type="text" id="text" name="text" class="frame" /></textarea>

          <div class="css-flex css-spacebetween">
            <div class="css-flex css-center">
              <input type="submit" value="対話開始" onclick="startMessage()" class="button danger">
              <input type="submit" value="対話終了" onclick="endMessage()" class="button danger">
              <small>定員 <span id="userList">0</span>/{{ room.scenarios|length }}人</small>
            </div>
            <input type="submit" value="送信" class="button">
          </div>
        </form>
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
  <script type="text/javascript" charset="utf-8">
    const hash_id = location.pathname.split("/").pop();

    const form = document.getElementById("form");
    const textarea = document.getElementById("text");
    const messageList = document.getElementById("messageList");
    const scrollArea = document.getElementById("scrollArea");
    const userList = document.getElementById("userList");

    const socket = io();

    socket.on("connect", function() {
      socket.emit("join", {
        hash_id: hash_id,
      });

      socket.on("room_message", function(payload) {
        const li = document.createElement("li");
        const div = document.createElement("div");
        const content = document.createTextNode(`${payload.name}: ${payload.text}`);

        div.classList.add("message");
        div.appendChild(content);
        li.appendChild(div);
        messageList.appendChild(li);
        scrollArea.scrollTop = scrollArea.scrollHeight
      });

      socket.on("room_user", function(payload) {
        userList.innerText = payload.users.length;
      });
    });

    form.addEventListener("submit", function(event) {
      event.preventDefault();

      const text = textarea.value;
      if(text.length > 0) {
        socket.emit("create_message", {
          hash_id: hash_id,
          text: textarea.value,
        });
        textarea.value = "";
      }
    });

    function startMessage() {
      if(confirm("対話を開始しますか？")) {
        socket.emit("meta_start_message");
      }
    }

    function endMessage() {
      if(confirm("対話を終了しますか？")) {
        socket.emit("meta_end_message");
      }
    }
  </script>
{% endblock %}
