{% extends "layout.html" %}

{% block body %}
  <h2>{{ 'シナリオ編集' if scenario else 'シナリオ新規登録'}}</h2>
  <form action="" method="post">
    <dl>
      <dt>タイトル
      <dd><input type=text size=20 name=title value="{{ scenario.title if scenario }}">
      <dt>本文
      <dd><textarea type=text name=text>{{ scenario.text if scenario }}</textarea>
      <dd><input type=submit value={{ '保存' if scenario else '新規登録' }}>
    </dl>
  </form>
  {% if scenario %}
    <form action={{ url_for('scenarios.delete', scenario_id=scenario.id) }} method="post">
      <input type="hidden" name="_method" value="delete">
      <input type=submit value="削除" onclick="return confirm('本当に削除しますか？')">
    </form>
  {% endif %}
{% endblock %}
