{% extends "layout.html" %}

{% block body %}
  <h2>{{ 'シナリオ編集' if scenario else 'シナリオ新規登録' }}</h2>

  <form action="" method="post">

    <div class="form_horizontal">
      <label for="title">タイトル</label>
      <input type="text" name="title" value="{{ scenario.title if scenario }}">
    </div>

    <div class="form_horizontal">
      <label for="text">本文</label>
      <textarea type="text" name="text">{{ scenario.text if scenario }}</textarea>
    </div>

    <div class="form_horizontal">
      <input type="submit" value={{ '保存' if scenario else '新規登録' }} class="button">
    </dl>
  </form>

  {% if scenario %}
    <form action={{ url_for('scenarios.delete', scenario_id=scenario.id) }} method="post">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="削除" onclick="return confirm('本当に削除しますか？')" class="button danger">
    </form>
  {% endif %}
{% endblock %}
