{% extends "layout.html" %}
{% block body %}
  <ul class=scenarios>
  {% for scenario in scenarios %}
    <li>
      <h2>{{ scenario.title }}</h2>
      {{ scenario.text }}
      {% if g.user.is_admin() %}
        <a href="{{ url_for('scenarios.edit', scenario_id=scenario.id) }}">編集</a>
      {% endif %}
    </li>
  {% else %}
    <li><em>シナリオがありません。</em>
  {% endfor %}
  </ul>

  {% if g.user.is_admin() %}
    <a href="{{ url_for('scenarios.create') }}">シナリオ新規登録</a>
  {% endif %}
{% endblock %}
